@tailwind base;
@tailwind components;
@tailwind utilities;

.overpass-fontType {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}